$RegularFont: 'NunitoSans Regular'
$SemiBoldFont: 'NunitoSans SemiBold'
$BoldFont: 'NunitoSans Bold'
$BlackFont: 'NunitoSans Black'

$LightGrey: #f5f5f5

@font-face 
    font-family: 'NunitoSans Regular'
    src: url("./assets/fonts/NunitoSans-Regular.ttf")

@font-face 
    font-family: 'NunitoSans SemiBold'
    src: url("./assets/fonts/NunitoSans-SemiBold.ttf")

@font-face 
    font-family: 'NunitoSans Bold'
    src: url("./assets/fonts/NunitoSans-Bold.ttf")

@font-face 
    font-family: 'NunitoSans Black'
    src: url("./assets/fonts/NunitoSans-Black.ttf")

body
    font-family: $RegularFont
    background: $LightGrey
